@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #D72050;
  --base-200:#F3F3F3;
  --base-300:#E7E7E7;
  --para-text:#9F9F9F;
  --social-text:#706F6F;
}